{{ define "main" }}

<section class="hero is-muted">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        talks
      </h1>
    </div>
  </div>
</section>

<section class="blog pt-3">
  <div class="container">
    <div class="columns ">
      <div class="column is-8 ">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">latest talks</h2>
          </div>
        </div>
        <div class="columns blog-last mb-2">
          {{ range first 2 .Pages }}
          <div class="column is-half">
            {{ .Render "list-item" }}
          </div>
          {{ end }}
          {{ .Content }}
        </div>
        {{ partial "page-bar.html" (dict "class" "has-radius" "content" . ) }}
        {{if gt (len .Pages) 2}}
        <div class="section-header mt-4">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">older talks</h2>
          </div>
        </div>
        <div class="columns is-multiline blog-old">
          {{ $paginator := .Paginate (after 2 .Pages) 6 }}
          {{ range .Paginator.Pages }}
          <div class="column is-4">
            {{ .Render "list-item" }}
          </div>
          {{ end }}
        </div>
        <div class="mt-4">{{ partial "page-pagination.html" . }}</div>
        {{ end }}
      </div>
      <div class="column is-3 is-offset-1">
        {{ partial "page-latest-blog.html" . }}
        {{ partial "page-latest-workshop.html" . }}
        {{ partial "page-twitter.html" . }}
      </div>
    </div>
  </div>
</section>

{{ partial "page-whereami.html" . }}
{{ end }}