{{ define "main" }}

<section class="hero is-muted">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        talks
      </h1>
    </div>
  </div>
</section>

<section class="blog pt-3 pb-5">
  <div class="container">
    <div class="columns ">
      <div class="column is-8 ">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">latest talks</h2>
          </div>
        </div>
        <div class="columns blog-last">
          {{ range first 2 .Pages }}
          <div class="column is-half">
            {{ .Render "list-item" }}
          </div>
          {{ end }}
          {{ .Content }}
        </div>
        {{if gt (len .Pages) 2}}
        <div class="section-header mt-4">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">older talks</h2>
          </div>
        </div>
        <div class="columns is-multiline blog-olded">
          {{ $paginator := .Paginate (after 2 .Pages) 6 }}
          {{ range .Paginator.Pages }}
          <div class="column is-4">
            {{ .Render "list-item" }}
          </div>
          {{ end }}
        </div>
        <div class="mt-4">{{ partial "page-pagination.html" . }}</div>
        {{ end }}
      </div>
      <div class="column is-3 is-offset-1">
        <div class="section-header ">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">lastest blog post</h2>
          </div>
        </div>

        {{ range first 1 ($.Site.GetPage "section" "blog").Pages.ByPublishDate.Reverse }}

        {{ $original := resources.Get (.Page.Params.photo.source) }}
        {{ $preview := $original.Resize "400x" }}

        <div class="card blog_item blog-olded">
          <header class="card-image">
            <a href="{{ .Permalink }}" class="blog_img" title="{{ .Title }}">
              <figure class="image">
                <img src="" data-src="{{ $preview.RelPermalink }}" class="lazyload" alt="{{ .Title }}" />
              </figure>
              {{ range first 1 .Page.Params.categories }}
              <span class="category"> {{ . }} </span>
              {{ end }}
            </a>
          </header>
          <div class="card-content pb-1">
            <a href="{{ .Permalink }}" class="title" title="{{ .Title }}">{{ .Title }}</a>
          </div>
        </div>
        {{end }}

        {{ partial "page-twitter.html" . }}

      </div>
    </div>
  </div>
</section>
{{ end }}