{{ define "main" }}

<section class="mt-4 mb-4">
  <div class="center mt-4 mb-2">
    <amp-img alt="Piotr Perzyna" src="/img/piotrperzyna.jpg" width="150" class="is-rounded" height="150" layout="fixed"></amp-img>
  </div>
  <div class="pt-2 pb-4 center">
    Hi, I am Piotr Perzyna!
    {{ .Content }}
  </div>
</section>

<section class="mt-4">
  <div class="has-border-bottom--muted center">
    <h4 class="has-border-bottom--success">my certifications</h4>
  </div>
  <div class="center">
    {{ range readDir "/static/img/certs" }}
    <amp-img alt="{{.Name | urlize | humanize | title }}" src="/img/certs/{{.Name | urlize }}" width="150" height="150" layout="fixed"></amp-img>
    {{ end }}
  </div>
</section>

<section class="mt-4">
  <div class="has-border-bottom--muted center">
    <h4 class="has-border-bottom--success">my photos</h4>
  </div>
  <div class="center">
    {{ range readDir "/static/img/me" }}
    <amp-img alt="{{.Name | urlize | humanize | title }}" src="/img/me/{{.Name | urlize }}" width="1.77" height="1" class="mb-2" layout="responsive"></amp-img>
    {{ end }}
  </div>
</section>

{{ end }}