{{ define "main" }}
<section class="workshop has-border-top--muted">
  <div class="container">
    <div class="columns">
      <div class="column is-offset-1 is-10">
        <nav class="breadcrumb mt-2 mb-2" aria-label="breadcrumbs">
          <ul>
            <li>
              <a href="{{ .Site.BaseURL }}/" title="pperzyna.com">
                {{ partial "svg/home.svg" (dict "size" 14 ) }}
              </a>
            </li>
            <li><a href="{{ .Site.BaseURL }}/workshops/" href="Workshops">Workshops</a></li>
            <li><a href="{{ .Permalink }}" class="is-active" aria-current="page">{{ .Title }} </a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="columns ">
      <div class="column pt-0 is-padingless photo is-offset-1 is-4">
        <figure class="image is-2by1 has-text-centered img">
          <img src="{{ .Page.Params.photo.source }}" alt="{{ .Title }}" />
        </figure>
        {{ if .Page.Params.photo.credits }}
        <div class="credits mt-1 has-text-centered">
          {{ .Page.Params.photo.credits | safeHTML }}
        </div>
        {{ end }}
      </div>
      <div class="column pt-0 header is-7 has-text-centered">
        <h1 class="title is-size-3 has-border-bottom--success mt-3">{{ .Title }}</h1>

        <div class="columns">
          <div class="column is-offset-1 is-6 has-text-left">
            <div class="date">
              {{ partial "svg/calendar.svg" (dict "size" 14 ) }}
              <time datetime="2016-1-1">{{ (time .Page.Params.workshop.date).Format "January 2, 2006" }}</time>
            </div>
            <div class="place">
              {{ if .Page.Params.workshop.place.link }}
              <a href="{{ .Page.Params.workshop.place.link }}" target="_blank">
                {{ partial "svg/location.svg" (dict "size" 14 ) }}
                {{ .Page.Params.workshop.place.name }}
              </a>
              {{ else }}
              {{ partial "svg/location.svg" (dict "size" 14 ) }}
              {{ .Page.Params.workshop.place.name }}
              {{ end }}
            </div>
          </div>
          <div class="column is-4 has-text-right">
            {{ partial "page-share.html" . }}
            <div id="_calendar">
              {{ if not .Page.Params.workshop.past }}
              <a class="is-size-7" title="Add to Google Calendar" target="_blank" href="https://www.google.com/calendar/render?action=TEMPLATE&text={{ .Title }}&details={{ .Permalink | safeURL }}&location={{ .Page.Params.workshop.place.name }}&dates={{ (time .Page.Params.workshop.date).Format "20060102" }}T010000Z%2F{{ (time .Page.Params.workshop.date).Format "20060102" }}T010000Z">
                Add to Google Calendar
              </a>
              {{ end }}
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="columns is-multiline">
      {{ if .Summary }}
      <div class="column pt-0 is-offset-2 is-8 is-size-4 has-text-justify has-text-indent">
        {{ .Summary }}
      </div>
      {{end}}

      <div class="column is-offset-2 is-8 is-size-5 content">
        {{ $body := replace .Content .Summary "" }} {{ $body | emojify | safeHTML }}
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">comments</h2>
          </div>
        </div>
        <script src="https://utteranc.es/client.js" repo="pperzyna/pperzyna.com" issue-term="og:title" label="comment" theme="github-light" crossorigin="anonymous" async>
        </script>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "scripts" }}
<div id="_progress"></div>
{{ partial "page-scroll.html" . }}
{{ end }}