<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="canonical" href="{{ .Permalink }}">
  {{- range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink }}">
  {{- end -}}

  <meta name="theme-color" content="#72c89e">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
  {{- if .IsPage -}}
  <link rel="preconnect" href="https://a.disquscdn.com" crossorigin>
  {{- end -}}

  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
  {{- $all := resources.Get "css/all.sass" -}}
  {{- $style := $all | toCSS | minify | fingerprint -}}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="screen">

  {{- if .OutputFormats.Get "RSS" -}}
  {{- with .OutputFormats.Get "RSS" -}}
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{- end -}}
  {{- end -}}
  {{ partial "site-head.html" . }}
  {{ block "head" . }}{{ end }}
</head>

<body>
  {{ block "header" . }}{{ partial "site-header.html" .}}{{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partial "site-footer.html" . }}{{ end }}
  {{ partial "site-scripts.html" . }}
  {{ block "scripts" . }}{{ end }}
</body>

</html>