<!DOCTYPE html>
<html amp>

<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ block "title" . }} {{ with .Params.Title }} {{ . }} {{ end }} | {{ .Site.Title }} {{ end }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

  {{ with  .OutputFormats.Get "HTML" -}}
  <link rel="canonical" href="{{ .Permalink }}">
  {{- end }}

  {{- if .OutputFormats.Get "RSS" -}}
  {{- with .OutputFormats.Get "RSS" -}}
  <link href="{{ .RelPermalink }}" rel="feed" type="application/rss+xml" title="{{ $.Site.Title }}" />
  {{- end -}}
  {{- end -}}
  <link rel="preconnect dns-prefetch" href="https://fonts.gstatic.com/" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
  {{- $all := resources.Get "css/all.amp.sass" -}}
  {{- $style := $all | toCSS | minify -}}
  <style amp-custom>
  {{ $style.Content | safeCSS }}
  {{ block "style" . }}
  {{ end }}
  </style>

  {{ partial "site-amp.html" . }}
  {{ partial "site-head.html" . }}
  {{ block "head" . }}{{ end }}
</head>

<body>
  {{ block "header" . }}{{ partial "site-header.amp.html" .}}{{ end }}
  <main>
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ partial "site-footer.amp.html" . }}{{ end }}

  <amp-analytics type="gtag" data-credentials="include">
    <script type="application/json">
      {
        "vars": {
          "gtag_id": "UA-162850461-1",
          "config": {
            "UA-162850461-1": {
              "groups": "default"
            }
          }
        }
      }
    </script>
  </amp-analytics>
</body>

</html>