{{ define "main" }}

<section class="hero is-muted">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title taxonomy">        
        blog: <span>{{ .Title }}</span>
      </h1>
    </div>
  </div>
</section>

<section class="blog pt-3 pb-5">
  <div class="container">
    <div class="columns ">
      <div class="column is-8 ">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">articles</h2>
          </div>
        </div>
        <div class="columns is-multiline blog-last">
          {{ $paginator := .Paginate .Pages 6 }}
          {{ range .Paginator.Pages }}
          <div class="column is-half">
            {{ .Render "list-item" }}
          </div>
          {{ end }}
        </div>
        <div class="mt-4">{{ partial "page-pagination.html" . }}</div>
      
      </div>
      <div class="column is-3 is-offset-1">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">categories</h2>
          </div>
        </div>
        <div>
          <ul class="categories ml-4">
            {{ range $key, $value := .Site.Taxonomies.categories }}
            <li><a href="/categories/{{ $key | urlize }}">{{ $key | humanize }}</a> <small>({{ len $value }})</small></li>
            {{ end }}
          </ul>
        </div>

      </div>
      </div>
    </div>
</section>
{{ end }}