{{ define "main" }}


<div class="has-border-bottom--muted mb-2 center">
  <h2 class="has-border-bottom--success">contact me via</h2>
</div>

<div class="center">
  <h4>Phone</h4>
  <a href="tel:+48509991345" title="PL - call me">
    +48 509 991 345
  </a>
  <br />
  <a href="tel:+31651433791" title="NL - call me">
    +31 651 433 791
  </a>
</div>

<div class="center mb-2 mt-2">
  or
</div>

<div class="center">
  <h4>E-mail</h4>
  <a href="mailto:hello@pperzyna.com" title="mail me">
    hello@pperzyna.com
  </a>
</div>

{{ end }}