{{ define "main" }}
<section class="contact mb-4 has-border-top--muted">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">

        <div class="section-header mt-4 mb-4">
          <div class="header has-border-bottom--muted has-text-centered2">
            <h2 class="title has-border-bottom--success is-4">Contact me directly via ...</h2>
          </div>
        </div>

        <div class="columns is-centered">
          <div class="column is-5">
            <div class="box is-activehover">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                      <path d="M205.1 891C121 827.9 59.8 739.7 29.8 637-6.8 511.4 7.7 379 70.6 264.3 133.6 149.6 237.4 66.2 363 29.6 622.4-46 894.8 103.5 970.5 362.7c31.7 108.7 24.6 225.8-19.9 329.7-7.6 17.8-28.2 26-45.9 18.4-17.7-7.7-26-28.2-18.4-45.9 38.2-89 44.2-189.4 17-282.6C838.5 160.2 605 32 382.6 96.8 274.9 128.2 186 199.6 132 298c-54 98.3-66.4 211.8-35 319.4C161.9 839.8 395.5 967.9 617.8 903c58.2-17 110.8-45.5 156.2-84.8 14.7-12.6 36.8-11 49.4 3.6 12.6 14.6 11 36.7-3.6 49.4-53.2 45.9-114.5 79.2-182.5 99.1-125.6 36.6-258 22.1-372.7-40.9-20.9-11.5-40.8-24.3-59.5-38.4z" />
                      <path d="M376 344.1l-57.8-44.2c-35.8-27.5-71-15.4-100.7 14.5l170.7 130.7c21.1-36.5 23.6-73.5-12.2-101zM857.5 713l-57.8-44.3c-35.9-27.5-71-15.3-100.7 14.5L869.7 814c21.1-36.5 23.7-73.6-12.2-101zM650.3 744c-30.4 40.8-123.2 21.4-210-45-86.8-66.5-124-156.5-98.2-191l32.6-42.6-173.3-132.8c-58 75.7-58.6 177.1-9 252.6l-1.7.9c54.6 89.7 87.5 141.5 175.9 209.2 88.3 67.7 147 86 247.8 115.4l.4-1.9c85.7 28.2 183.5 1.2 241.5-74.5L682.9 701.4 650.3 744z" />
                    </svg>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>Phone</h4>
                    <a href="tel:+48509991345" title="call me">
                      +48 509 991 345
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <div class="column is-offset-1 is-5">
            <div class="box is-activehover">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-50x50">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                      <path d="M327.34 307.81c-16.12 4.38-29.7 12.43-43.29 25.56l-10.82 10.36 113.52 56.64 113.29 56.87 113.52-56.87 113.29-56.64-10.82-10.36c-13.82-13.59-27.17-21.18-44.44-25.56-19.81-5.3-324.91-5.3-344.25 0z" />
                      <path d="M256.42 522.18l.69 100.85 7.14 14.97c13.35 27.63 35.92 46.74 64.24 54.11 20.49 5.3 322.59 5.3 343.08 0 28.32-7.37 49.97-25.79 64.01-53.88l7.37-15.2.69-100.62c.23-55.49 0-100.85-.46-100.85-.69 0-53.19 25.79-116.51 57.57-103.84 51.8-116.5 57.56-126.63 57.56-10.13 0-22.79-5.76-126.64-57.57-63.32-31.78-115.82-57.57-116.51-57.57-.47.01-.7 45.37-.47 100.63z" />
                      <path d="M496.682 2.02C222.932 2.02 2.547 222.402 2.547 496.152S222.93 990.287 496.682 990.287c273.75 0 494.134-220.384 494.134-494.135 0-273.75-220.384-494.132-494.134-494.132zm1.779 73.85h.3c232.68 0 420 187.32 420 420s-187.32 420-420 420h-.3c-232.68 0-420-187.32-420-420s187.32-420 420-420z" />
                    </svg>
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h4>E-mail</h4>
                    <a href="mailto:hello@pperzyna.com" title="mail me">
                      hello@pperzyna.com
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
        </div>

        <div class="section-header mt-4 mb-4">
          <div class="header has-border-bottom--muted has-text-centered2">
            <h2 class="title has-border-bottom--success is-4"> ... or send me a message!</h2>
          </div>
        </div>

        <form name="contact" netlify>
          <div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="text" name="name" placeholder="Name" required>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <input class="input is-large" type="email" name="email" placeholder="Email" value="" required>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal mt-4">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea is-large" placeholder="Explain how I can help you" name="message" required></textarea>
                </div>
              </div>
            </div>
          </div>

          <div class="field is-horizontal mt-4">
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button class="button is-large is-primary">
                    let me know
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</section>

{{ end }}