{{ define "header" }}
<section class="hero hero-main is-fullheight is-paddingless">
    <div class="hero-header">
        {{ partial "page-header.html" .}}
    </div>
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column has-text-centered">
                    <h3 class="title">
                        404
                    </h3>
                    <div>
                        <h1 class="subtitle has-text-primary mt-0">
                            page not found
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}