{{ define "header" }}
<section class="hero hero-main is-fullheight is-paddingless">
  <div class="hero-header">
    {{ partial "site-header.html" .}}
  </div>
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column has-text-centered">
          <div class="pb-2">
            <figure class="image is-128x128">
              <svg xmlns="http://www.w3.org/2000/svg" width="144" height="144">
                <path d="M22.29 22.29C3 41.58-2.338 69.688 6.126 94.472l-1.612.551c-8.662-25.35-3.21-54.15 16.574-73.935C40.873 1.303 69.667-4.155 95.023 4.514l-.551 1.612C69.688-2.338 41.58 3.015 22.297 22.297zm27.245 115.591c24.784 8.464 52.892 3.111 72.175-16.171 19.29-19.29 24.635-47.39 16.171-72.175l1.612-.551c8.655 25.342 3.204 54.143-16.581 73.928-19.785 19.785-48.579 25.243-73.935 16.574l.551-1.612z" clip-rule="evenodd" fill-rule="evenodd" fill="#72c89e" />
              </svg>
              <img src="/img/piotrperzyna.jpg" alt="Piotr Perzyna" />
            </figure>
          </div>
          <div class="pt-2 pb-2">
            {{ partial "svg/piotrperzyna.svg" (dict "size" 35 ) }}
          </div>
          <div>
            <h1 class="subtitle has-text-primary mt-0">
              Cloud Engineer
            </h1>
            <h2 class="subtitle has-text-primary mt-0">
              DevOps Consultant
            </h2>
          </div>
          <div class="links">
            <a href="/blog/" title="Contact" class="button is-medium is-success">blog</a>
            <a href="/about/" title="Contact" class="button is-medium is-success is-outlined">about me</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hero-foot mb-4">
    <div class="stamp">
      <a href="#whoami">
        <svg xmlns="http://www.w3.org/2000/svg" height="50" viewBox="0 0 330.002 330.002">
          <path d="M327.001 99.751c-4.971-6.628-14.374-7.971-21-3l-140.997 105.75L24.001 96.751c-6.628-4.971-16.029-3.626-21 3-4.971 6.627-3.627 16.03 3 21l150.004 112.5c2.667 2 5.833 3 9 3 3.166 0 6.333-1 9-3l149.996-112.5c6.627-4.97 7.971-14.372 3-21z" />
        </svg>
      </a>
    </div>
  </div>
</section>
{{ end }}

{{ define "main" }}
{{ partial "page-bar.html" (dict "class" "mb-8" "content" . ) }}
{{ partial "page-whereami.html" . }}
{{ end }}