body {
  color: $text;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
}

time {
  white-space: nowrap;
}

.is-muted {
  // background-color: $muted !important;
  background-image: radial-gradient(#ffffff, $muted);
}

.has-text-indent {
  text-indent: 30px;
}

.has-text-justify {
  text-align: justify;
}

.has-border-top--muted {
  border-top: 2px solid $muted;
}

.has-border-bottom--muted {
  border-bottom: 2px solid $muted;
}

.has-border-bottom--success {
  display: inline-block;
  padding-bottom: 1rem;
  border-bottom: 2px solid $success;
}

/* margins & padings */

.p-1 {
  padding: 1.5rem !important;
}

.pb-0 {
  padding-bottom: 0px !important;
}

.pt-0 {
  padding-top: 0px !important;
}

.pt-2 {
  padding-top: 20px !important;
}

.pt-3 {
  padding-top: 30px !important;
}

.pt-4 {
  padding-top: 40px !important;
}

.pt-8 {
  padding-top: 80px !important;
}

.pb-2 {
  padding-bottom: 20px !important;
}

.pb-4 {
  padding-bottom: 40px !important;
}

.pb-5 {
  padding-bottom: 50px !important;
}

.m-1 {
  margin: 1.5rem !important;
}

.mr-1 {
  margin-right: 10px !important;
}

.mr-05 {
  margin-right: 5px !important;
}

.ml-2 {
  margin-left: 20px !important;
}

.ml-4 {
  margin-left: 40px !important;
}

.mt-0 {
  margin-top: 0px !important;
}

.mt-1 {
  margin-top: 10px !important;
}

.mt-2 {
  margin-top: 20px !important;
}

.mt-3 {
  margin-top: 30px !important;
}

.mt-4 {
  margin-top: 40px !important;
}

.mt-6 {
  margin-top: 60px !important;
}

.mb-0 {
  margin-bottom: 0px !important;
}

.mb-2 {
  margin-bottom: 20px !important;
}

.mb-3 {
  margin-bottom: 30px !important;
}

.mb-4 {
  margin-bottom: 40px !important;
}

/* post & workshops */
.photo {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.photo img {
  border-radius: $radius;
}

.metadata .column {
  padding-top: 1rem !important;
  padding-bottom: 0rem !important;
}

.opensource-supported .columns {
  justify-content: flex-end;
}

.blog-last .card-content a.title,
.workshop-future .card-content a.title {
  font-size: 1.3rem;
}

.blog-olded .card-content a.title,
.workshop-past .card-content a.title {
  font-size: 1.1rem;
}

.workshop-past time {
  text-decoration: line-through;
}

.workshop-demand {
  margin-top: auto;
  margin-bottom: auto;
}

.post .breadcrumb {
  margin-top: 40px;
  font-size: 1rem;
}

.breadcrumb svg {
  fill: $primary;
  margin-top: 5px;
}

.post .img {
  margin-top: 20px;
  margin-bottom: 20px;
}

.post .author {
  margin-top: 20px;
}

.certs img {
  opacity: 0.5;
}

.certs img:hover {
  opacity: 1;
}

/* Blog */

.blog {
  display: block;
  overflow: hidden;
}

.pagination {
  margin-top: 40px;
  padding: 0px 50px;
}

.blog .blog_item .blog_img .category {
  background: $success;
  border-radius: 0;
  position: absolute;
  border-radius: $radius;
  font-weight: 700;
  color: #fff;
  left: 0;
  bottom: 0;
  line-height: 35px;
  font-size: 16px;
  min-width: 150px;
  text-transform: uppercase;
  text-align: center;
  transition: all 300ms linear 0s;
}

.blog .blog_item .blog_img .category:hover,
.blog .blog_item .blog_img .category:focus {
  background: $primary;
}

.blog .blog_item .title {
  display: block;
}

.blog .blog_item .title:hover,
.blog .blog_item .title:focus {
  color: $success;
}

.blog .blog_item .blog_img img {
  opacity: 0.85;
}

.blog .blog_item:hover .blog_img img,
.blog .blog_item:focus .blog_img img {
  opacity: 1;
}

.workshop .place {
  line-height: 50px;
}

.place,
.date {
  color: $primary;
}

.place svg,
.date svg {
  fill: $primary;
}

.place svg,
.date svg {
  margin-right: 10px;
}

.explore_btn {
  color: $text;
  font-size: small !important;
}

.explore_btn:hover,
.explore_btn:focus {
  color: $success;
  text-decoration: underline;
}

.taxonomy span {
  text-transform: capitalize;
}

/* Hero */
.footer .brand svg {
  margin-top: 10px;
}

.navbar-brand svg {
  margin-top: 3px;
}

.navbar-brand a img,
.hero-main img {
  border-radius: $radius * 8;
}

.hero-main .title {
  font-size: 50px;
  line-height: 1.2;
  margin-bottom: 10px !important;
}

.hero-main .subtitle {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  display: inline-block;
  padding: 5px 15px;
}

.hero-main .links a {
  margin: 5px 15px;
}

.hero-main figure {
  display: inline-block;
}

.hero-main figure svg {

  position: absolute;
  margin-left: -72px;
  margin-top: -8px;

  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}

.hero-main .hero-foot {
  text-align: center;
}

.hero-main .hero-foot svg {
  fill: $primary;
  animation: float-bob-y infinite 2s linear;
}

.social a:hover svg {
  transition: 0.7s;
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -ms-transition: 0.7s;
  -o-transition: 0.7s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.credits {
  color: #aaa;
  font-size: smaller;
}

.credits a {
  font-weight: bold;
  color: #aaa;
}

ul.categories {
  list-style: circle;
}

.contact .box svg {
  fill: $primary;
}

.contact .box:hover svg {
  fill: $success;
}

/* Platform */

.platforms {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.platforms:before,
.platforms:after {
  content: "";
  position: absolute;
  background: url(/img/fe-bg.png) no-repeat;
  height: 226px;
  width: 215px;
  z-index: -1;
}

.platforms:before {
  left: -50px;
  top: -40px;
}

.platforms:after {
  right: -50px;
  bottom: -40px;
}

.platform {
  border-radius: $radius;
  background-color: white;
  // box-shadow: 0px 0px 30px 0px rgba(186, 184, 191, 0.3);
  text-align: center;
  padding: 50px 20px;
  transition: all 300ms linear 0s;
}

.blog .card:hover,
.platform:hover,
.platform:focus {
  box-shadow: 0 0 30px 10px rgba(43, 120, 171, 0.1);
}

.platform .icons {
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 50%;
  display: block;
  z-index: 1;
  position: relative;
  line-height: 150px;
}

.platform .icons:after {
  content: "";
  position: absolute;
  background-image: -moz-linear-gradient(-62deg, $muted 0%, $muted 43%, white 72%);
  background-image: -webkit-linear-gradient(-62deg, $muted 0%, $muted 43%, white 72%);
  background-image: -ms-linear-gradient(-62deg, $muted 0%, $muted 43%, white 72%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 110px;
  height: 110px;
  margin: 0 auto;
  border-radius: 50%;
  animation: rotation infinite 5s linear;
}

.platform .icons svg {
  font-size: 50px;
  color: $primary;
}

.platform a {
  font-size: large;
  font-weight: 700;
  color: $text;
  font-size: 24px;
}

.platform a span {
  margin-top: 30px;
  display: block;
}

.platform svg {
  fill: $primary;
}

.platform:hover a {
  color: $success;
}

.platform:hover svg {
  fill: $success;
}

/* Bulma */

svg,
a,
.button,
textarea,
input,
.box {
  transition: all 200ms linear 0s;
}

input,
textarea {
  box-shadow: 0 0 30px 10px rgba(245, 245, 245, 1) !important;
}

.box.is-activehover:hover {
  box-shadow: 0 0 30px 10px rgba(43, 120, 171, 0.1);
}

.box.is-activehover {
  box-shadow: none;
}

.card-equal-height {
  height: 100%;
}

.card-equal-height .card-content {
  min-height: 110px;
  margin-top: auto;
}

.card {
  border-radius: $radius;
}

.card .date {
  font-size: small;
}

.card .column {
  padding: 10px;
}

.card img {
  border-radius: $radius;
}

.card-content a.title {
  text-align: center;
}

.card {
  &.is-horizontal {
    display: flex;

    .card-image {
      width: 100%;
      height: 100%;
    }

    .card-stacked {
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }
  }
}

.content p {
  text-align: justify;
}

.content figure {
  margin: 2rem;
}

.image.is-50x50 {
  height: 50px;
  width: 50px;
}

.is-borderless {
  border: 0px !important;
}

.is-vtopped a {
  vertical-align: top;
}

@media only screen and (max-width: $desktop) {
  .hero-main .title {
    font-size: 40px !important;
  }

  section {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 768px) {

  .breadcrumb a.is-active {
    overflow: hidden;
    max-width: 150px;
    display: inline;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: normal;
  }

  .card {
    display: flex;

    .card-image {
      width: 50%;
      height: 50%;
    }

    .card-stacked {
      flex-direction: column;
      flex: 1 1 auto;
      display: flex;
      position: relative;

      .card-content {
        flex-grow: 1;
      }
    }

    .card-content {
      padding: 10px;
      text-align: left !important;
      margin-top: auto;
      margin-bottom: auto;
    }

    .title {
      font-size: 3.2vw !important;
      margin-bottom: 0px !important;
    }

    .category {
      line-height: 16px !important;
      font-size: 12px !important;
      min-width: 0px !important;
      padding: 5px;
    }

    .card-footer {
      display: none;
    }
  }

  .card-equal-height .card-content {
    min-height: 50px !important;
  }

  .opensource {
    .card {
      .title {
        padding-top: 40px;
        display: block;
      }
    }
  }

  .title {
    font-size: 1.75rem !important;
    ;
  }

  .hero-main h1.subtitle {
    display: block;
    margin-bottom: 0px !important;
    padding: 0px !important;
  }

  .hero-main h2.subtitle {
    margin-bottom: 30px !important;
  }
}

/* global */

#_share a {
  padding: 5px;
}

#_share a svg {
  fill: $success;
}

#_calendar a svg {
  fill: $primary;
}

#_share>a.facebook:hover>svg {
  fill: #3b5998;
}

#_share>a.twitter:hover>svg {
  fill: #55acee;
}

#_share>a.whatsapp:hover>svg {
  fill: #2DB843;
}

#_share>a.linkedin:hover>svg {
  fill: #0077b5;
}

#_share>a.mail:hover>svg {
  fill: #7d7d7d;
}

#_progress {
  --scroll: 0%;
  background: linear-gradient(to right, $success var(--scroll), transparent 0);
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0px;
  z-index: 100;
}

/* LightBox */

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}

/* Animation */

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

@keyframes float-bob-y {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}


@keyframes rotating {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  20% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  40% {
    -ms-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
  }

  80% {
    -ms-transform: rotate(330deg);
    -moz-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    -o-transform: rotate(330deg);
    transform: rotate(330deg);
  }

  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}