body {
  font-family: $family-primary;
  background: #fff;
  color: $text;
  min-width: 315px;
  overflow-x: hidden;
  line-height: 1.6;
  font-smooth: always;
  -webkit-font-smoothing: antialiased
}

main {
  max-width: 700px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 25px;
}

a {
  color: $primary;
  text-decoration: none;
}

pre {
  padding: 1.25em 1.5em;
}

code {
  background-color: #f5f5f5;
  color: #f14668;
  font-size: .875em;
  font-weight: 400;
  padding: .25em .5em;
}

pre code {
  background-color: transparent;
  color: currentColor;
  font-size: 1em;
  padding: 0;
}

.highlight pre {
  overflow: auto;
  max-width: 100%;
}

.description {
  font-size: 24px;
}

.credits {
  font-size: 12px;
  color: #676767;
  text-align: center;
}

.credits a {
  color: #676767;
}

.time {
  color: $primary
}

.content {
  font-size: 18px;
}

.has-text-indent {
  text-indent: 30px;
}

.photo {
  width: 85%;
  margin-right: auto;
  margin-left: auto;
}

.photo img {
  border-radius: $radius;
}

blockquote {
  background: #f5f5f5;
  border-left: 5px solid #72c89e;
  margin: 1.5em 0px;
  padding: 1.25em 1.5em;
  text-align: justify;
}

blockquote p {
  display: inline;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.table.is-bordered tr:last-child td, .table.is-bordered tr:last-child th {
  border-bottom-width: 1px;
}

.table tr:last-child td, .table tr:last-child th {
  border-bottom-width: 0;
}

.table tr:last-child td, .table tr:last-child th {
  border-bottom-width: 0;
}

.table.is-bordered td {
  border: 1px solid #72c89e;
}

.table td {
  padding: 15px
}

.ampstart-sidebar-nav a {
  color: $text;
}

.ampstart-headerbar {
  border-bottom: 2px solid $muted;
}

.ampstart-navbar-trigger:focus {
  outline: none
}

.ampstart-navbar-trigger,
.ampstart-headerbar-home-link {
  padding-top: 1.25rem;
  padding-bottom: 1rem;
}

.ampstart-headerbar-home-link svg {
  padding-left: 0.5rem;
}

.ampstart-navbar-trigger {
  font-size: 22px;
}

.land-see-sidebar-nav-item {
  color: #021425;
  text-transform: capitalize;
  letter-spacing: .6px;
  line-height: 2.0625
}

.ampstart-nav a,
.ampstart-navbar-trigger,
.ampstart-sidebar-faq a {
  cursor: pointer;
  text-decoration: none
}

.ampstart-btn {
  font-size: 1rem;
  line-height: 1.42857;
  padding: .4em .8em;
  text-decoration: none;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: middle;
  cursor: pointer;
  border-radius: $radius;
  border: 2px solid $primary;
}

.list-reset {
  list-style: none;
  padding-left: 0
}

.flex {
  display: -ms-flexbox;
  display: flex
}

.center {
  text-align: center
}

.hide {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px)
}

@media (max-width:40rem) {
  .xs-hide {
    display: none
  }
}

@media (min-width:40.06rem) and (max-width:52rem) {
  .sm-hide {
    display: none
  }
}

@media (min-width:52.06rem) and (max-width:64rem) {
  .md-hide {
    display: none
  }
}

@media (min-width:64.06rem) {
  .lg-hide {
    display: none
  }
}

.display-none {
  display: none
}

hr {
  margin-top: 60px;
  margin-bottom: 40px;
  border-top: 2px solid #f3f3f3;
}

* {
  box-sizing: border-box
}

.mt-2 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 2rem;
}

.m-0 {
  margin: 0
}

.mb-4 {
  margin-bottom: 2rem;
}

.mb-2 {
  margin-bottom: 1rem;
}

.p-0 {
  padding: 0
}

.pl-1 {
  padding-left: 1rem;
}

.px-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pr-2 {
  padding-right: 2rem
}

.mx-auto {
  margin-right: auto;
  margin-left: auto
}

.items-start {
  -ms-flex-align: start;
  align-items: flex-start
}

.nowrap {
  white-space: nowrap
}

.is-rounded {
  border-radius: 9999px;
}

.has-border-bottom--success {
  display: inline-block;
  padding-bottom: 0rem;
  border-bottom: 2px solid $success;
}