<header>
  <div class="container">
    <nav class="navbar is-fresh is-transparent no-shadow" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        {{ if not .IsHome }}
        <a class="navbar-item is-size-4 has-text-weight-bold" href="/">
          <img src="/img/piotrperzyna.jpg" class="mr-1" />
          {{ partial "svg/piotrperzyna.svg" (dict "size" 24 ) }}
        </a>
        {{end}}

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbar" class="navbar-menu">
        <div class="navbar-start"></div>

        <div class="navbar-end">
          <a class="navbar-item" href="/blog/" title="Blog">
            blog
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              more
            </a>

            <div class="navbar-dropdown">
              <a href="/about" title="About" class="navbar-item">
                about me
              </a>
            </div>
          </div>
          <div class="navbar-item">
            <div class="buttons">
              <a href="/contact" title="Contact" class="button is-primary is-outlined">
                say Hello!
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>