{{ range first 1 (where .Site.Pages ".Params.workshop.past" false) }}
{{ $original := resources.Get (.Page.Params.photo.source) }}
{{ $preview := $original.Resize "400x" }}
<div class="section-header">
  <div class="header has-border-bottom--muted mb-2">
    <h2 class="title has-border-bottom--success is-4">upcoming workshops</h2>
  </div>
</div>
<div class="box is-muted has-text-centered mt-4">
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="{{ $preview.RelPermalink }}" class="is-rounded" alt="{{ .Page.Title }}">
      </figure>
    </div>
    <div class="media-content">
      <div class="content has-text-centered">
        <a href="{{ .Page.Permalink }}" title="{{ .Page.Title }}">{{ .Page.Title }}</a>
      </div>
    </div>
  </article>
</div>
{{end }}