<footer class="footer mt-4">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column has-text-centered">
        <a href="/" class="brand">
          {{ partial "svg/pperzyna.svg" (dict "size" 24 ) }}
        </a>
        <p class="pt-1 has-text-indent">
          Hi! I'm <b>Piotr Perzyna</b>, a <b>cloud architect</b>, <b>developer</b> & general problem solver. Looking for support? <a href="/contact/" title="Contact Me">Contact me</a>, I'm happy help you!
        </p>
      </div>

      <div class="column has-text-centered">
        <h4 class="title is-4">Follow me on:</h4>
        {{ partial "page-social.html" . }}
      </div>

      <div class="column has-text-centered is-vtopped">
        <a href="/privacy-policy/" class="mr-05 p-5" title="Privacy Policy">
          {{ partial "svg/lock.svg" (dict "size" 23 "color" "#212433") }}
        </a>
        <a href="/index.xml" class="p-5" title="RSS">
          {{ partial "svg/rss.svg" (dict "size" 23 "color" "#212433") }}
        </a>
      </div>
    </div>
  </div>
</footer>