<link rel="manifest" href="/manifest.json">

<meta name="author" content="{{ .Site.Title }}">
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ .Title }}" />
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta name="twitter:site" content="@PiotrPerzyna" />
<meta name="twitter:creator" content="@PiotrPerzyna" />

<meta property="fb:app_id" content="245713733275854" />

<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />

{{ if .Page.Params.photo.source }}
<meta name="twitter:image" content="{{ absURL .Page.Params.photo.source }}" />
<meta name="twitter:image:alt" content="{{ .Title }}" />
<meta property="og:image" content="{{ absURL .Page.Params.photo.source }}" />
{{ end }}

{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- if .IsPage }}
{{- if not .PublishDate.IsZero }}
<meta property="article:published_time" {{ .PublishDate.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ else if not .Date.IsZero }}
<meta property="article:published_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{ end }}
{{- if not .Lastmod.IsZero }}
<meta property="article:modified_time" {{ .Lastmod.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />{{ end }}
{{- else }}
{{- if not .Date.IsZero }}
<meta property="og:updated_time" {{ .Date.Format $iso8601 | printf "content=%q" | safeHTMLAttr }} />
{{- end }}
{{- end }}

<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">

<script data-schema="Organization" type="application/ld+json">
  {
    "name": "Piotr Perzyna",
    "url": "https://pperzyna.com",
    "contactPoint": [{
      "@type": "ContactPoint",
      "email": "hello@pperzyna.com",
      "telephone": "+48-509-991-345",
      "contactType": "direct contact"
    }],
    "logo": {
      "@type": "ImageObject",
      "url": "https://pperzyna.com/img/piotrperzyna.jpg",
      "width": 460,
      "height": 460
    },
    "sameAs": ["https://github.com/pperzyna", "https://www.linkedin.com/in/piotrperzyna/", "https://twitter.com/PiotrPerzyna", "https://www.youtube.com/channel/UC6VxyFalZUGwnLrh8FANkrw", "https://www.instagram.com/piotrperzyna/"],
    "@type": "Organization",
    "@context": "http://schema.org"
  }
</script>
<script data-schema="WebPage" type="application/ld+json">
  {
    "@id": "{{ .Permalink }}",
    "name": "{{ .Title }}",
    "url": "{{ .Permalink }}",
    "@type": "WebPage",
    "@context": "http://schema.org"
  }
</script>