<table class="table is-bordered">
    <tr>
      <td class="is-vcentered">
          <h5><a href="{{ .Get "href" }}" title="{{ .Get "title" }}">{{ .Get "title" }}</a></h5>
          <p>
            {{ .Get "desc" }}
          </p>
        </td>      
      <td class="is-vcentered" width="30%">
        {{ $src := print "assets/"  (.Get "img") }}
        {{ $original := imageConfig ( $src ) }}
        
        <amp-img alt="{{ .Get "title" }}" src="{{ .Get "img" }}" width="{{ $original.Width }}" height="{{ $original.Height }}" layout="responsive"></amp-img>       
      </td>      
    </tr>
</table>