{{ $original := resources.Get (.Get "img") }}
{{ $preview := $original.Resize ( .Get "size" | default "600x" ) }}

<table class="table is-bordered">
    <tr>
      <td class="is-vcentered">
          <h5><a href="{{ .Get "href" }}" title="{{ .Get "title" }}">{{ .Get "title" }}</a></h5>
          <p>
            {{ .Get "desc" }}
          </p>
        </td>      
      <td class="is-vcentered" width="30%">        
        <a href="#{{ path.Base (.Get "src") }}" onclick="LazyLoadImg()">
          <figure class="images">
            <img src="" data-src="{{ $preview.RelPermalink }}" class="lazyload" alt="{{ .Get "title" }}" title="{{ .Get "title" }}">
          </figure>
        </a>
        <a href="#_" class="lightbox" id="{{ path.Base (.Get "src") }}">
          <figure class="images">
            <img src="" data-src="{{ $original.RelPermalink }}" alt="{{ .Get "title" }}" title="{{ .Get "title" }}">
          </figure>
        </a>
      </td>      
    </tr>
</table>