<div class="card card-equal-height blog_item">
  <header class="card-image">
    <a href="{{ .Permalink }}" class="blog_img" title="{{ .Title }}">
      <figure class="image is-2by1">
        <img src="{{ .Page.Params.photo.source }}" alt="{{ .Title }}" />
      </figure>
      {{ range first 1 .Page.Params.categories }}
      <span class="category"> {{ . }} </span>
      {{ end }}
    </a>
  </header>
  <div class="card-content pb-0">
    <a href="{{ .Permalink }}" class="title" title="{{ .Title }}">{{ .Title }}</a>
  </div>
  <footer class="card-footer is-borderless">
    <div class="card-footer-item is-borderless date"><span class="iconify" data-icon="et:calendar" data-inline="false"></span>
      <time datetime="2016-1-1">{{ .Date.Format "January 2, 2006" }}</time>
    </div>
    <a href="{{ .Permalink }}" class="card-footer-item is-borderless explore_btn " title="{{ .Title }}">read more</a>
  </footer>
</div>