{{ define "main" }}
<section class="post has-border-top--muted">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <nav class="breadcrumb mt-2 mb-4" aria-label="breadcrumbs">
          <ul itemscope itemtype="https://schema.org/BreadcrumbList">
            <li>
              <a href="{{ .Site.BaseURL }}/" title="pperzyna.com">
                {{ partial "svg/home.svg" (dict "size" 12 ) }}
              </a>
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="{{ .Site.BaseURL }}/blog/" href="Blog">
                <span itemprop="name">Blog</span>
              </a>
              <meta itemprop="position" content="1" />
            </li>
            <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
              <a itemprop="item" href="{{ .Permalink }}" class="is-active" aria-current="page">
                <span itemprop="name">{{ .Title }}</span>
              </a>
              <meta itemprop="position" content="2" />
            </li>
          </ul>
        </nav>
        <h1 class="title has-border-bottom--success has-text-centered">{{ .Title }}</h1>
        {{ if .Summary }}
        <div class="is-size-4 has-text-justify has-text-indent">
          {{ .Summary }}
        </div>
        {{ end }}
        <div class="columns is-mobile is-vcentered">
          <div class="column is-6 has-text-left">
            <div class="date">
              {{ partial "svg/calendar.svg" (dict "size" 14 ) }}
              <time datetime="2016-1-1">{{ (time .Page.Date).Format "January 2, 2006" }}</time>
            </div>
          </div>
          <div class="column is-6 has-text-right">
            {{ partial "page-share.html" . }}
          </div>
        </div>
        <div class="photo has-text-centered mt-2 mb-2">
          <figure class="image is-16by9">
            <img src="{{ .Page.Params.photo.source }}" alt="{{ .Title }}" />
          </figure>

          {{ if .Page.Params.photo.credits }}
          <div class="credits mt-1 has-text-centered">
            {{ .Page.Params.photo.credits | safeHTML }}
          </div>
          {{ end }}
        </div>
        <div class="is-size-5 content">
          {{ $body := replace .Content .Summary "" }} {{ $body | emojify | safeHTML }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}