{{ define "main" }}
<section>
  <h1 class="bold has-border-bottom--success center">{{ .Title }}</h1>
  {{ if .Summary }}
  <div class="description has-text-indent mb-2">
    {{ .Summary }}
  </div>
  {{ end }}
  <div class="mb-2 time"> {{ (time .Page.Date).Format "January 2, 2006" }} </div>
  <div class="photo">
    {{ $original := resources.Get (.Page.Params.photo.source) }}
    {{ $preview := $original.Resize "600x" }}
    <amp-img alt="{{ .Title }}" src="{{ $preview.RelPermalink }}" width="1.77" height="1" layout="responsive"></amp-img>
  </div>
  {{ if .Page.Params.photo.credits }}
  <div class="credits mb-2">
    {{ .Page.Params.photo.credits | safeHTML }}
  </div>
  {{ end }}
  </div>
  <div class="content">
    {{ $body := replace .Content .Summary "" }} {{ $body | emojify | safeHTML }}
  </div>
</section>
{{ end }}