{{ define "main" }}
{{ $headlessbundle := .Site.GetPage "/open-source" }}

<section class="hero is-muted">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        open-source projects
      </h1>
    </div>
  </div>
</section>

<section class="opensource pt-3">
  <div class="container">
    <div class="columns">
      <div class="column opensource-started is-half">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2">
            <h2 class="title has-border-bottom--success is-4">started by me</h2>
          </div>
        </div>
        <div class="columns is-multiline">
          {{ range where ( $headlessbundle.Resources.ByType "page" ) ".Params.opensource.mine" true }}
          <div class="column is-one-third">
            {{ .Render "single-item" }}
          </div>
          {{ end }}
        </div>
      </div>
      <div class="column opensource-supported is-half">
        <div class="section-header">
          <div class="header has-border-bottom--muted mb-2 has-text-right">
            <h2 class="title has-border-bottom--success is-4">supported by me</h2>
          </div>
        </div>
        <div class="columns is-multiline">
          {{ range where ( $headlessbundle.Resources.ByType "page" ) ".Params.opensource.mine" false }}
          <div class="column is-one-third ">
            {{ .Render "single-item" }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}