<div class="card is-shadowless blog_item is-radiusless">
  <div class="card-image">
    <a href="{{ .Page.Params.opensource.link }}" class="blog_img is-radiusless" title="{{ .Title }}">
      <figure class="image ">
        <img src="{{ .Page.Params.photo.source }}" class="is-radiusless" alt="{{ .Title }}" />
      </figure>
    </a>
  </div>
  <div class="card-content has-text-centered is-vcentered">
    <a href="{{ .Page.Params.opensource.link }}" class="title is-size-6" title="{{ .Title }}">{{ .Title }}</a>
  </div>
</div>